.task-list {
    list-style-type: none;
}

.task-list-count-label {
  color: navy;
  text-transform: uppercase;
  font-family: Courier New, Courier, monospace;
  font-size: 14pt;
  font-weight: bold;
}

.task-list-count-pending {
  color: red;
  text-transform: uppercase;
  font-family: Courier New, Courier, monospace;
}

.task-list-count-done {
  color: green;
  text-transform: uppercase;
  font-family: Courier New, Courier, monospace;
}